$color_dark_grey: #555555;;
$color_grey: #373743;
$color_background: #2B2B37;

$color_white: #ffffff;
$color_back_grey: #eeeeee;
$color_back_grey_hover: #d5d5d5;

$shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);


$color_small_text: #DADADA;
$color_text:  #B6B6B6;

$color_orange: #F05A28;
$color_input_background:  #1F1F29;

$color_title: #F9F9F9;
$color_border: #979797;

$color_hint: #4D4D59;